<ion-header>
  <ion-toolbar>
      <ion-buttons style="margin-left: 5px" slot="start">
          <ion-back-button color="primary" defaultHref="/subjecttypedetails"></ion-back-button>
        </ion-buttons>

    <ion-title>Subject</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item class="each_item">
        <!-- <img height="60px" src="../../assets/name.svg" style="margin-right: 15px; zoom: 35%;"> -->
        <ion-input style="margin-left: 10px" type="text" [(ngModel)]="price" placeholder="Name"></ion-input>
      </ion-item>

      <br>
      <ion-item class="each_item">
          <!-- <img height="60px" src="../../assets/name.svg" style="margin-right: 15px; zoom: 35%;"> -->
          <ion-input style="margin-left: 10px" type="text" [(ngModel)]="price" placeholder="Location"></ion-input>
      </ion-item>

      <br>
      <!-- <div style="margin-left: 11px; margin-bottom: 1px; ">Logo</div> -->
      <ion-card>
          <ion-item lines="none">
              <ion-icon name="images" item-left></ion-icon>
                <div style="margin-left: 16px">Upload Logo</div>                
          </ion-item>
      </ion-card>

      <ion-card>
          <ion-item lines="none">
              <ion-icon name="images" item-left></ion-icon>
                <div style="margin-left: 16px">Upload Cover</div>                
          </ion-item>
      </ion-card>

      <p align="center">
          <ion-button style="width: 90px">
              <b>Save</b>
            </ion-button>
      </p>
      
</ion-content>
